<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head", {pageTitle: "Signup"}) %>
</head>

<body>
  <%- include("includes/header") %>
  <main>
    <h1>An error occured</h1>
    <p>Please try again later</p>
    <p><a href="/" class="btn">Back to safety</a></p>
  </main>
  <%- include("includes/footer") %>
</body>

</html>