<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../shared/includes/head", {pageTitle: "Order Succeeded"}) %>
</head>

<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order Succeeded</h1>
    <p>Visit the <a href="/orders">Orders</a> page to view your purchase</p>
  </main>
</body>

</html>