* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;

    --color-gray-50: rgb(233, 233, 233);
    --color-gray-100: rgb(197, 197, 197);
    --color-gray-200: rgb(114, 114, 114);
    --color-gray-400: rgb(68, 68, 68);
    --color-gray-500: rgb(40, 40, 40);
    --color-gray-600: rgb(23, 23, 23);
    --color-gray-800: rgb(18, 18, 18);

    --color-primary-50: rgb(255, 233, 209);
    --color-primary-100: rgb(255, 220, 182);
    --color-primary-200: rgb(255, 201, 143);
    --color-primary-400: rgb(255, 174, 88);
    --color-primary-600: rgb(255, 152, 43);
    --color-primary-1000: rgb(255, 132, 0);

    --color-contrast-1: rgb(84, 30, 12);
    --color-contrast-2: white;

    --color-error-100: rgb(242, 180, 180);
    --color-error-500: rgb(197, 45, 45);

    --space-1: .25rem;
    --space-2: .5rem;
    --space-3: 1rem;
    --space-4: 2rem;
    --space-5: 6rem;
    --space-6: 12rem;

    --border-radius-small: 3px;
    --border-radius-large: 6px;

    --shadow-medium: 0 0 8px rgba(0, 0, 0, .2);
}

body {
    background-color: var(--color-gray-600);
    color: var(--color-gray-100);
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.btn {
    font: inherit;
    cursor: pointer;
    padding: var(--space-2);
    background-color: var(--color-primary-400);
    color: var(--color-primary-50);
    border: 1px solid var(--color-primary-400);
    border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-1000);
}

.btn-alt {
    background-color: transparent;
    color: var(--color-primary-600);
}

.btn-alt:hover,
.btn-alt:active {
    background-color: var(--color-gray-500);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color: var(--color-error-500);
    padding: var(--space-3);
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}

.badge {
    margin-left: var(--space-2);
    padding: .15rem var(--space-3);
    border-radius: 10rem;
    background-color: var(--color-primary-400);
    color: var(--color-contrast-2);
}