<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../includes/head", {pageTitle: "Login"}) %>
</head>

<body>
  <%- include("../includes/header") %>
  <main>
      Login
  </main>
  <%- include("../includes/footer") %>
</body>

</html>